@import 'variables.scss';

* {
  color: $primary-color;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $primary-font;
}

body {
  background: $white-color;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  
}

.content {
  width: 100%;
  min-height: 600px;

  h2 {
    padding: 10px 0 20px 20px;
    font-weight: normal;
    font-size: 31px;
    line-height: 40px;

    @media (min-width: 768px) {
      padding: 15px 0 25px 40px;
      font-size: 48px;
      line-height: 65px;
    }
  }
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: space-around;
    flex-direction: row;
  }

  .row {
    background: $white-color;
    border: 1px solid $light-gray-color;
    border-radius: 4px;
    box-shadow: $shadow;
    width: 85%;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 290px;

    @media (min-width: 768px) {
      margin: 0;
      width: 40%;
    }

    strong {
      color: $green-color;
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  &__line {
    .row {
      width: 70%;
    }
  }
}