$primary-color: #999;
$secondary-color: #FAFAFA;
$white-color: #fff;
$black-color: #000;
$green-color: #035A27;
$light-gray-color: #D8DDE6;

$primary-font: 'Roboto', sans-serif;

$shadow: 0 3px 8px 0 rgba(62, 100, 146, 0.16);