@import '../../assets/css/variables.scss';

ul.card {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 150px;
    height: 200px;
    margin: 0 20px 40px 0;

    div {
      height: 150px;

      img {
        max-height: 150px;
      }
    }

    p {
      color: $white-color;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 15px;
    }
  }
}