@import '../../assets/css/variables.scss';

footer {
  border-top: .5px solid $primary-color;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $black-color;
  height: 50px;
  margin-top: 50px;

  p {
    color: $white-color;
    margin: 0 auto;
    font-size: 11px;
  }
}